<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ejer1}}
<img src="../static/images/grafico1.png" class="image" style="max-width: 50%; height: auto;" /><br>
{{ejer2}}
<img src="../static/images/grafico2.png" class="image" style="max-width: 50%; height: auto;" /><br>
{{ejer3}}
<img src="../static/images/grafico3.png" class="image" style="max-width: 50%; height: auto;" /><br>
{{ejer4}}
<img src="../static/images/grafico4.png" class="image" style="max-width: 50%; height: auto;" /><br>
</body>
</html>