<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PRACTICA</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
</head>

<body style="background: 0;">
    <div style="height: 95px;"></div>
    <div class="container" style="height: 68px;">
        <h1 style="text-align: center;font-size: 59.88px;">PRACTICAS SSII</h1>
    </div>
    <div style="height: 58px;"></div>
    <div class="container" style="text-align: center;">
        <a class="btn btn-outline-light btn-lg" role="button" href="/parte1" style="margin-left: 34px;">PARTE 1 </a>
        <div style="width: 511px;height: 20px;"></div>
        <a class="btn btn-outline-light btn-lg" role="button" href="/parte2" style="margin-left: 34px;">PARTE 2: REPRESENTACIÓN DE LOS DATOS </a>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>