<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Outdate Webs</title>
</head>

<body>

<div style="height: 60px;"></div>
<div class="container" style="height: 68px;">
        <h1 style="text-align: center;font-size: 30px;">Top de Webs Desactualizadas</h1>
</div>

<div style="height: 20px;"></div>
<div class="container" style="text-align: center;">
    <form action="/parte2/webDesactualizadas/" method="get">
    <label for="numberline">Introduce el top:</label>
    <input type="number" id="numberline" name="numberline">
    <input type="submit" value="Mostrar">
</form>
</div>

<div style="height: 30px;"></div>
<div class="container" style="text-align: center;">
    {% if desactualizadas %}
    <table class="mx-auto" border="1" cellpadding="5">
        <thead>
            <tr>
                <th>Web</th>
                <th>Creación</th>
                <th>Cookies</th>
                <th>Aviso</th>
                <th>Protección</th>
            </tr>
        </thead>
        <tbody>
            {% for pagina in desactualizadas %}
            <tr>
                <td>{{ pagina.web }}</td>
                <td>{{ pagina.creacion }}</td>
                <td>{{ pagina.cookies }}</td>
                <td>{{ pagina.aviso }}</td>
                <td>{{ pagina.proteccion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>
<div style="height: 50px;"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>