<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/parte2/prediccion/RF/" method="get">

    <label>Introduce si el usuario tiene contraseña debil:</label>
    <input type="checkbox" name="pass"><br/>
    <label>Introduce si el usuario tiene permisos</label>
    <input type="checkbox" name="perms"><br/>
    <label>Introduce el numero de emails que el usuario ha recibido:</label>
    <input type="number" name="emails"><br/>
    <label>Introduce el numero de phishing que el usuario ha clicado:</label>
    <input type="number" name="clic"><br/>
    <label>Introduce el numero de phishing que el usuario ha sido victima:</label>
    <input type="number" name="phishing"><br/>
    <input type="submit" value="Mostrar" />

</form>
</body>
</html>