<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="height: 60px;"></div>
<div class="container" style="height: 68px;">
        <h1 style="text-align: center;font-size: 30px;">Top de Webs Desactualizadas</h1>
</div>

<div style="height: 20px;"></div>
<div class="container" style="text-align: left;">
<form action="/parte2/prediccion/lineal/" method="get">
    <label>Introduce el numero de emails que el usuario a recibido:</label>
    <input type="number" name="emails"><br/>
    <label>Introduce el numero de emails que el usuario ha clicado:</label>
    <input type="number" name="clic"><br/>
    <input type="submit" value="Mostrar" />
</form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>